html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

/*div {
  border: 1px solid black;
}
*/
.new-to-twitter {
  height: 88px;
  background-color: #55ACEE;
  color: white;
  display: flex;
  align-items: center;

}

.sign-up-button {
  background-color: #55ACEE;
  color: white;
}

.top-nav {
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-nav img{
  height: 23px;
}

.top-picture {
  height: 320px;
}

.top-picture img {
  height: 100%;
  width: 100%;
}

.twitter-stats {
  display: flex;
  align-items: center;
}

.main-content .big-avatar {
  width: 200px;
  height: 200px;
  margin-top: -85px;
}

.main-content img.big-avatar{
  height: 100%;
  width: 100%;
  border: 5px solid white;
}

.main-content .sidebar {
  margin-top: -85px;
}

.main-content .picture-thumbs img {
  height: 83px;
  width: 83px;
  padding: 2px;
}

.main-content .panel-body img.avatar {
  height: 48px;
  width: 48px;
}

.main-content .panel-body img.tweet-pic {
  width: 465px;
}

.main-content .panel-body .media-left img.other-accounts {
  width: 36px;
  height: 36px;
}
